:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #feffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#title {
  font-family: montserrat;
  font-weight: 300;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0780df;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #0865b1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
  color: black;
  box-sizing: border-box;
}

#logo-clinica {
  width: 5%;
  height: auto;
  color: #0780df;
}

 /* Versión más compacta del header (para el dashboard) */
.header-compact {
  margin-bottom: 15px !important;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 4px -1px; /* sombra más sutil */
  padding: 0.8rem 0;
  }