:root {
    --color-primario: #0780df;
    --color-secundario: #f5f5f5;
    --color-negro: black;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    margin: 0 auto;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    color: var(--color-primario);
    text-align: center;
    font-family: Arial, sans-serif;
}

.register-form input {
    margin-bottom: 20px;
    background-color: #fff;
    color: var(--color-negro);
    width: auto;
    height: 60px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
}